# Name of the workflow that shows up on github actions
name: NASA Project CI
# When the workflow will run: defining triggers
on:
# Workflow will run when code is pushed to our main branch, or a pull request is merged into our main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
# When one of these events is triggered... build on ubuntu, as it is one of the most common for servers to run on, then define the actions on ubuntu
jobs:
  build:
    env:
      # Telling the create-react-app test script that we are running in a continuous integration environment, to disable watch mode, this feature is built into react. We could also set a port here.
      CI: true
      # This will use the database specified, and create it if it doesn't exist. Our MongoDB in github actions job is setting up a DB
      MONGO_URL: mongodb://localhost/nasa
    # Having our build jobs run on several different environments
    strategy:
      matrix:
        # Tests on the latest versions of both node 16 and 14, for example , and/or mongodb 4.2 and 4.4 with each node version
        node-version: [16.x, 14.x]
        mongodb-version: ['4.2']
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2 # A built in github action, always good to specify versions (@v2) in case an update breaks something, this script allows our workflow to access our repo
      # Makes sure node is installed, and uses version 16, running npm install and our build script as a step
      - name: Use Node.js version ${{ matrix.node-version }} 
        uses: actions/setup-node@v2 
        with: 
          node-version: ${{ matrix.node-version }} # Setting our node version to a variable using our strategy's values
      # Setting up MongoDB for our CI environment
      - name: MongoDB in GitHub Actions
        uses: supercharge/mongodb-github-action@1.7.0
        with: 
          mongodb-version: ${{ matrix.mongodb-version }}
      - run: npm install
      - run: npm run build --prefix client
      # The client tests are running in watch mode by default, so we need to disable that for this since it would require manual termination
      - run: npm test
  # If we wanted our code to also deploy, and only if it builds successfully
  # deploy:
  #   needs: build